.App {
  text-align: center;
}

.search {
  font-size: 25px;
  margin-top: 10px;
}

.mydiv {
  margin: 10px 7%;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 1px 1px 5px grey;
}

.myinput {
  width: 60%;
  border-radius: 10px;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}

.imageGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
  margin: 5px;
}
